<script type="text/javascript" nonce="<%=scriptNonce%>">

    function markPrecursorAsIncludedHandler(dataRegion, dataRegionName) {
        LABKEY.Ajax.request({
            url: LABKEY.ActionURL.buildURL(
                    'panoramapremium',
                    'markPrecursorAsIncluded',
                    LABKEY.ActionURL.getContainer(),
                    {
                        dataRegionSelectionKey: dataRegion.name,
                        '.select': dataRegion.getChecked(),
                        queryName: dataRegion.getQueryConfig()['queryName']
                    }),
            method: 'POST',
            scope: this,
            success: LABKEY.Utils.getCallbackWrapper(function() {
                console.log("Peptides/Molecules marked as included");
                window.location.reload();
            }),
            failure: LABKEY.Utils.getCallbackWrapper(function(request, response, obj){
                console.log("Failed to include Peptides/Molecules");
            }, this)
        });
    }

    function markPrecursorAsExcludedHandler(dataRegion, dataRegionName) {
        LABKEY.Ajax.request({
            url: LABKEY.ActionURL.buildURL(
                    'panoramapremium',
                    'markPrecursorAsExcluded',
                    LABKEY.ActionURL.getContainer(),
                    {
                        dataRegionSelectionKey: dataRegion.name,
                        '.select': dataRegion.getChecked(),
                        queryName: dataRegion.getQueryConfig()['queryName']
                    }),
            method: 'POST',
            scope: this,
            success: LABKEY.Utils.getCallbackWrapper(function() {
                console.log("Peptides/Molecules marked as excluded");
                window.location.reload();
            }),
            failure: LABKEY.Utils.getCallbackWrapper(function(request, response, obj){
                console.log("Failed to excluded Peptides/Molecules");
            }, this)
        });
    }

    function addListing(targetId, queryName, title) {
        new LABKEY.QueryWebPart({
            renderTo: targetId,
            schemaName: 'targetedms',
            queryName: queryName,
            title: title,
            buttonBar: {
                items:[
                    LABKEY.QueryWebPart.standardButtons.views,
                    LABKEY.QueryWebPart.standardButtons.charts,
                    LABKEY.QueryWebPart.standardButtons.exportRows,
                    LABKEY.QueryWebPart.standardButtons.print,
                    LABKEY.QueryWebPart.standardButtons.pageSize,
                    {
                        text: 'Mark As Included',
                        requiresSelection: 'true',
                        handler: markPrecursorAsIncludedHandler
                    },
                    {
                        text: 'Mark As Excluded',
                        requiresSelection: 'true',
                        handler: markPrecursorAsExcludedHandler
                    }
                ]}
        });
    }

        LABKEY.Query.executeSql({
            schemaName: 'targetedms',
            sql: 'SELECT SUM(PeptideCount) AS Peptides, SUM(SmallMoleculeCount) AS SmallMolecules FROM Runs',
            scope: this,
            success: function (result) {
                const peptides = result.rows[0].Peptides;
                const molecules = result.rows[0].SmallMolecules;
                if (peptides > 0) {
                    addListing('mark-precursor-peptides', 'QCGroupingPrecursorPeptides', 'Peptide Precursors');
                }

                if (molecules > 0) {
                    addListing('mark-precursor-molecule', 'QCGroupingPrecursorMolecules', 'Small Molecule Precursors');
                }

                // Values will be null if we don't have any data yet
                if (!peptides && !molecules) {
                    document.getElementById('mark-precursor-peptides').innerText = 'No data loaded in this folder. Import a Skyline document into this folder to configure exclusions.'
                }
            }
        });
</script>

<div id="mark-precursor-peptides"></div>

<div id="mark-precursor-molecule"></div>

