<p>
    Configure the metrics to be tracked for quality control and system suitability.
</p>

<div id="qcMetricsTable"></div>
<div id="qcMetricsError"></div>
<script type="text/javascript">

    if (!LABKEY.internal)
        LABKEY.internal = {};

    LABKEY.internal.ConfigureQCMetrics = new function () {
        var qcMetrics;
        var qcMetricsTable ='';
        var configRows = [];

        function showQCMetrics() {
            qcMetricsTable += '<form id="qcMetricsForm" >';

            qcMetricsTable += '<table class="labkey-data-region-legacy labkey-show-borders">' +
                    '<tr><td class="labkey-column-header">Enabled</td><td class="labkey-column-header">Name</td><td class="labkey-column-header">Type</td></tr>';

            jQuery.each(qcMetrics, function (index, row) {
                var rowClass = index % 2 === 1 ? "labkey-row" : "labkey-alternate-row";
                configRows.push({metric: row.id, name: row.name, Enabled: row.Enabled, Inserted: row.Inserted});
                var editLock = row.Container === LABKEY.container.id;

                qcMetricsTable += '<tr class="' + rowClass + '">';

                qcMetricsTable += '<td>' + '<input type="checkbox" ' + (row.Enabled ? checked="checked" : '') + ' name=\"' + LABKEY.Utils.encodeHtml(row.name) + '\" id=\"' +  "checkbox-"+ row.id  +  '\"></td>';

                qcMetricsTable += '<td>' + (editLock ? '<a id="editLink" href="#">' : '' ) + LABKEY.Utils.encodeHtml(row.name) + '</td>' + (editLock ? '</a>' : '' );
                qcMetricsTable += '<td>' + (row.PrecursorScoped ? 'Precursor' : 'Run') + '</td>' +
                        '</tr>';

            });

            qcMetricsTable += '</table>' + '<br>' +
                    '<button type="button" class="labkey-button primary" onclick="LABKEY.internal.ConfigureQCMetrics.save()" style="margin-right: 20px;">Save</button>' +
                    '<button type="button" class="labkey-button" onclick="LABKEY.internal.ConfigureQCMetrics.resetQCMetrics()" style="margin-right: 20px;">Cancel</button>' +
                    '<button type="button" class="labkey-button" onclick="LABKEY.internal.ConfigureQCMetrics.addNewMetric()">Add New Metric</button>' +
                    '</form>';

            jQuery('#qcMetricsTable').html(qcMetricsTable);

            jQuery('#editLink').click(function (e) {
                e.preventDefault();
                editMetric(jQuery('#editLink').text());
                return false;
            })
        }

        function editMetric(metricName) {
            var clickedQcMetricConfig = {};
            jQuery.each(qcMetrics, function (index, row) {
                if (row.name === metricName) {
                    clickedQcMetricConfig = row;
                }
            });

            LABKEY.Query.getSchemas({
                scope: this,
                containerPath: LABKEY.container.id,
                success: function (schemasInfo) {
                    Ext4.create('Panorama.Window.AddCustomMetricWindow', {
                        parent: this,
                        height: Ext4.max([Ext4.getBody().getHeight() * 0.3, 350]),
                        width: Ext4.max([Ext4.getBody().getWidth() * 0.2, 450]),
                        metric: clickedQcMetricConfig,
                        operation: 'update',
                        schemas: schemasInfo.schemas
                    }).show();
                }
            });
        }

        function getReturnURL() {
            var returnURL = LABKEY.ActionURL.getParameter('returnUrl');

            if(returnURL) {
                return returnURL;
            }
            else {
                return LABKEY.ActionURL.buildURL('project', 'start');
            }
        }

        return {
            getQCMetrics: function() {
                LABKEY.Query.selectRows({
                    schemaName: 'targetedms',
                    queryName: 'qcMetricsConfig',
                    sort: 'name',
                    scope: this,
                    success: function (result) {
                        qcMetrics = result.rows;
                        showQCMetrics();
                    },
                    failure: LABKEY.Utils.getCallbackWrapper(LABKEY.internal.ConfigureQCMetrics.onError, this, true)
                });
            },
            onError: function(exception, responseObj){
                console.error(arguments);

                var msg = LABKEY.Utils.getMsgFromError(responseObj, exception, {
                    showExceptionClass: false,
                    msgPrefix: 'Error: '
                });

                jQuery('#qcMetricsError').html('<p>' + msg + '</p>');
            },
            resetQCMetrics: function(){
                window.location = getReturnURL();
            },

            addNewMetric: function() {
                Ext4.onReady(function(){
                    LABKEY.Query.getSchemas({
                        scope: this,
                        containerPath: LABKEY.container.id,
                        success:  function(schemasInfo) {
                            Ext4.create('Panorama.Window.AddCustomMetricWindow', {
                                parent: this,
                                height: Ext4.max([Ext4.getBody().getHeight() * 0.3, 350]),
                                width: Ext4.max([Ext4.getBody().getWidth() * 0.2, 450]),
                                schemas: schemasInfo.schemas,
                                operation: 'insert'
                            }).show();
                        }
                    });
                });
            },

            save: function () {
                var recordsToInsert = [];
                var recordsToUpdate = [];

                LABKEY.internal.ConfigureQCMetrics.rowsBeforeSave.forEach(function (metricRow) {

                    var isMetricChecked = jQuery('#checkbox-' + metricRow.metric).is(':checked');
                    var wasMetricChecked = metricRow.Enabled;

                    if(metricRow.Inserted) {
                        //metric unchecked now
                        if(wasMetricChecked && !isMetricChecked) {
                            recordsToUpdate.push({metric: metricRow.metric, Enabled: isMetricChecked});
                        }

                        //metric checked now
                        if(!wasMetricChecked && isMetricChecked) {
                            recordsToUpdate.push({metric: metricRow.metric, Enabled: isMetricChecked});
                        }
                        metricRow.Enabled = isMetricChecked;
                    }
                    else {
                        recordsToInsert.push({metric: metricRow.metric, Enabled: isMetricChecked});
                        metricRow.Inserted = true;
                    }
                });

                var rowsToUpsert = false;
                var commands = [];

                if(recordsToInsert.length > 0) {
                    commands.push({
                        schemaName: 'targetedms',
                        queryName: 'qcenabledmetrics',
                        command: 'insert',
                        rows: recordsToInsert
                    });
                    rowsToUpsert = true;
                }

                if(recordsToUpdate.length > 0) {
                    commands.push({
                        schemaName: 'targetedms',
                        queryName: 'qcenabledmetrics',
                        command: 'update',
                        rows: recordsToUpdate
                    });
                    rowsToUpsert = true;
                }

                if(rowsToUpsert) {
                    LABKEY.Query.saveRows({
                        commands: commands,
                        method: 'POST',
                        success: function (data) {
                            window.location = getReturnURL();
                        },
                        failure: LABKEY.Utils.getCallbackWrapper(LABKEY.internal.ConfigureQCMetrics.onError, this, true)
                    });
                } else {
                    window.location = getReturnURL();
                }

            },
            rowsBeforeSave: configRows
        }
    };

    LABKEY.internal.ConfigureQCMetrics.getQCMetrics();

</script>