<p style="width: 800px">
    Configure the metrics to be tracked for quality control and system suitability. Metrics can be enabled and disabled
    in each folder.
</p>

<div id="qcMetricsTable"></div>
<div id="qcMetricsError"></div>
<script type="text/javascript">

    if (!LABKEY.internal)
        LABKEY.internal = {};

    LABKEY.internal.ConfigureQCMetrics = new function () {
        var qcMetrics;
        var qcMetricsTable ='';
        var configRows = [];

        function showQCMetrics() {
            qcMetricsTable += '<form id="qcMetricsForm" >';

            qcMetricsTable += '<table class="labkey-data-region-legacy labkey-show-borders">' +
                                '<tr>' +
                                    '<td class="labkey-column-header">Name</td>' +
                                    '<td class="labkey-column-header">Type</td>' +
                                    '<td class="labkey-column-header">Status</td>' +
                                    '<td class="labkey-column-header">Lower bound</td>' +
                                    '<td class="labkey-column-header">Upper bound</td>' +
                                '</tr>';

            jQuery.each(qcMetrics, function (index, row) {
                var rowClass = index % 2 === 1 ? "labkey-row" : "labkey-alternate-row";
                configRows.push({metric: row.id, name: row.name, Status: row.Status, Inserted: row.Inserted});
                var editLock = row.Container === LABKEY.container.id;

                qcMetricsTable += '<tr class="' + rowClass + '">';

                qcMetricsTable += '<td>' + (editLock ? '<a id="editLink' + row.id + '" href="#">' : '' ) + LABKEY.Utils.encodeHtml(row.name) + '</td>' + (editLock ? '</a>' : '' );
                qcMetricsTable += '<td>' + (row.PrecursorScoped ? 'Precursor' : 'Run') + '</td>';

                if (row.EffectiveStatus === 'NoData') {
                    qcMetricsTable += '<td>No data in this folder</td>';
                }
                else {
                    qcMetricsTable += '<td>' + '<select name=\"' + LABKEY.Utils.encodeHtml(row.name) + '\" id=\"' + "select-" + row.id + '\">' +
                            '<option value="LeveyJennings" ' + (row.EffectiveStatus === 'LeveyJennings' ? 'selected' : '') + '>Levey-Jennings (+/- standard deviations)</option>' +
                            '<option value="ValueCutoff" ' + (row.EffectiveStatus === 'ValueCutoff' ? 'selected' : '') + '>Fixed value cutoff</option>' +
                            '<option value="PlotOnly" ' + (row.EffectiveStatus === 'PlotOnly' ? 'selected' : '') + '>No outliers</option>' +
                            '<option value="Disabled" ' + (row.EffectiveStatus === 'Disabled' ? 'selected' : '') + '>Disabled</option>' +
                            '</select>' +
                            '</td>';
                }

                qcMetricsTable += '<td><input size="8" name="' + LABKEY.Utils.encodeHtml(row.name) + '-lower" id="lower-' + row.id + '" value="' + (row.lowerBound !== undefined && row.lowerBound !== null ? row.lowerBound : '' ) +'"></td>';
                qcMetricsTable += '<td><input size="8" name="' + LABKEY.Utils.encodeHtml(row.name) + '-upper" id="upper-' + row.id + '" value="' + (row.upperBound !== undefined && row.upperBound !== null ? row.upperBound : '' ) +'"></td>';

                qcMetricsTable += '</tr>';
            });

            qcMetricsTable += '</table>' + '<br>' +
                    '<button type="button" class="labkey-button primary" onclick="LABKEY.internal.ConfigureQCMetrics.save()" style="margin-right: 20px;">Save</button>' +
                    '<button type="button" class="labkey-button" onclick="LABKEY.internal.ConfigureQCMetrics.resetQCMetrics()" style="margin-right: 20px;">Cancel</button>' +
                    '<button type="button" class="labkey-button" onclick="LABKEY.internal.ConfigureQCMetrics.addNewMetric(\'custom\')" style="margin-right: 20px;">Add New Custom Metric</button>' +
                    '<button type="button" class="labkey-button" onclick="LABKEY.internal.ConfigureQCMetrics.addNewMetric(\'trace\')">Add New Trace Metric</button>' +
                    '</form>';

            jQuery('#qcMetricsTable').html(qcMetricsTable);

            refreshBoundsInputs(qcMetrics);

            jQuery.each(qcMetrics, function (index, row) {
                jQuery('#editLink' + row.id).click(function (e) {
                    e.preventDefault();
                    LABKEY.internal.ConfigureQCMetrics.editMetric(jQuery('#editLink' + row.id).text());
                    return false;
                });
                jQuery('#select-' + row.id).change(function (e) {
                    refreshBoundsInputs(qcMetrics);
                });
            });
        }

        function refreshBoundsInputs(qcMetrics) {
            jQuery.each(qcMetrics, function (index, row) {
                let type = jQuery('#select-' + row.id).val();
                let showBounds = type === LABKEY.targetedms.MetricStatus.ValueCutoff || type === LABKEY.targetedms.MetricStatus.LeveyJennings;
                jQuery('#upper-' + row.id).css('visibility', showBounds ? 'visible' : 'hidden');
                jQuery('#lower-' + row.id).css('visibility', showBounds ? 'visible' : 'hidden');
            });
        }

        function getReturnURL() {
            var returnURL = LABKEY.ActionURL.getParameter('returnUrl');

            if(returnURL) {
                return returnURL;
            }
            else {
                return LABKEY.ActionURL.buildURL('project', 'start');
            }
        }

        return {
            getQCMetrics: function() {
                LABKEY.Query.selectRows({
                    schemaName: 'targetedms',
                    queryName: 'qcMetricsConfig',
                    sort: 'name',
                    scope: this,
                    success: function (result) {
                        result.rows.sort(function(row1, row2) { return row1.name.toLowerCase().localeCompare(row2.name.toLowerCase()); });
                        qcMetrics = result.rows;
                        showQCMetrics();
                    },
                    failure: LABKEY.Utils.getCallbackWrapper(LABKEY.internal.ConfigureQCMetrics.onError, this, true)
                });
            },

            onError: function(exception, responseObj, response2){
                console.error(arguments);

                var msg = LABKEY.Utils.getMsgFromError(response2, exception, {
                    showExceptionClass: false,
                    msgPrefix: 'Error: '
                });

                jQuery('#qcMetricsError').text(msg);
            },

            editMetric: function (metricName) {
                var clickedQcMetricConfig = {};
                jQuery.each(qcMetrics, function (index, row) {
                    if (row.name === metricName) {
                        clickedQcMetricConfig = row;
                    }
                });

                var op = 'update';
                if (clickedQcMetricConfig.TraceName) {
                    LABKEY.internal.ConfigureQCMetrics.showTraceMetricWindow(op, clickedQcMetricConfig)
                }
                else {
                    LABKEY.internal.ConfigureQCMetrics.showCustomMetricWindow(op, clickedQcMetricConfig);
                }
            },

            resetQCMetrics: function(){
                window.location = getReturnURL();
            },

            showCustomMetricWindow: function (op, clickedMetric) {
                LABKEY.Query.getSchemas({
                    scope: this,
                    containerPath: LABKEY.container.id,
                    success:  function(schemasInfo) {
                        var windowConfig = {
                            parent: this,
                            schemas: schemasInfo.schemas,
                            operation: op
                        };

                        if (clickedMetric) {
                            windowConfig.metric = clickedMetric;
                        }
                        Ext4.create('Panorama.Window.AddCustomMetricWindow', windowConfig).show();
                    }
                });
            },

            showTraceMetricWindow: function (op, clickedMetric) {
                LABKEY.Query.selectRows({
                    schemaName: 'targetedms',
                    queryName: 'SampleFileChromInfo',
                    columns: ['TextId'],
                    filterArray: [LABKEY.Filter.create('TextId', null, LABKEY.Filter.Types.NOT_MISSING)],
                    success: function (sampleFileChromInfos) {

                        var tracesPresent = false;
                        if (sampleFileChromInfos.rows && sampleFileChromInfos.rows.length > 0) {
                            var rows = sampleFileChromInfos.rows;
                            var uniqueTraces = [];
                            var trace  = {};

                            for (var i in rows) {
                                trace[rows[i]['TextId']] = rows[i];
                            }

                            for (i in trace) {
                                uniqueTraces.push(trace[i]);
                            }

                            traces = uniqueTraces;
                            tracesPresent = true;
                        }

                        var windowConfig = {
                            parent: this,
                            traces: tracesPresent ? traces : {} ,
                            tracesPresent: tracesPresent,
                            operation: op
                        }

                        if (clickedMetric) {
                            windowConfig.metric = clickedMetric;
                        }

                        Ext4.create('Panorama.Window.AddTraceMetricWindow', windowConfig).show();
                    }
                });
            },

            addNewMetric: function (metricType) {
                var op = 'insert';
                if (metricType === 'custom') {
                    this.showCustomMetricWindow(op);
                }
                else if (metricType === 'trace') {
                    this.showTraceMetricWindow(op)
                }
            },

            createRecord: function(metricRow, newStatus) {
                const result = {metric: metricRow.metric, Status: newStatus};
                result.upperBound = jQuery("#upper-" + metricRow.metric)[0].value;
                result.lowerBound = jQuery("#lower-" + metricRow.metric)[0].value;
                return result;
            },

            save: function () {
                const recordsToInsert = [];
                const recordsToUpdate = [];
                const recordsToDelete = [];

                LABKEY.internal.ConfigureQCMetrics.rowsBeforeSave.forEach(function (metricRow) {

                    const selectInputs = jQuery('#select-' + metricRow.metric);
                    if (!selectInputs.length > 0) {
                        return;
                    }
                    const newValue = selectInputs[0].value;
                    // See if there's an existing row
                    if (metricRow.Inserted) {
                        recordsToUpdate.push(this.createRecord(metricRow, newValue));
                    }
                    else if (newValue !== null) {
                        recordsToInsert.push(this.createRecord(metricRow, newValue));
                    }
                }, this);

                var rowsToUpsert = false;
                var commands = [];

                if (recordsToInsert.length > 0) {
                    commands.push({
                        schemaName: 'targetedms',
                        queryName: 'qcenabledmetrics',
                        command: 'insert',
                        rows: recordsToInsert
                    });
                    rowsToUpsert = true;
                }

                if (recordsToUpdate.length > 0) {
                    commands.push({
                        schemaName: 'targetedms',
                        queryName: 'qcenabledmetrics',
                        command: 'update',
                        rows: recordsToUpdate
                    });
                    rowsToUpsert = true;
                }

                if (recordsToDelete.length > 0) {
                    commands.push({
                        schemaName: 'targetedms',
                        queryName: 'qcenabledmetrics',
                        command: 'delete',
                        rows: recordsToDelete
                    });
                    rowsToUpsert = true;
                }

                if (rowsToUpsert) {
                    LABKEY.Query.saveRows({
                        commands: commands,
                        method: 'POST',
                        success: function (data) {
                            window.location = getReturnURL();
                        },
                        failure: LABKEY.Utils.getCallbackWrapper(LABKEY.internal.ConfigureQCMetrics.onError, this, true)
                    });
                } else {
                    window.location = getReturnURL();
                }

            },
            rowsBeforeSave: configRows
        }
    };

    LABKEY.internal.ConfigureQCMetrics.getQCMetrics();

</script>