<div><a href="targetedms-scheduleAllInstruments.view">All instrument calendar view</a></div>
<div><a href="targetedms-msProject.view">Your project list</a></div>

<div>&nbsp;</div>

<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=InstrumentBilling">Instrument billing report</a></div>
<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=InstrumentBillingByMonth">Monthly instrument billing report</a></div>

<div>&nbsp;</div>

<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=MSInstrument">Edit instrument list</a> (resources that can be scheduled and billed for)</div>
<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=rateType">Edit rate types</a> (setup fee)</div>
<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=instrumentRate">Edit rate list</a> (assigns a setup fee and an hourly rate to instruments)</div>
<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=MSProject">Edit project list</a></div>
<div><a href="query-executeQuery.view?schemaName=targetedms&query.queryName=paymentMethod">Edit payment method list</a></div>
