<div id="ms-project"></div>
<script type="text/javascript" nonce="<%=scriptNonce%>">
    (function(){
    let webpart = <%=webpartContext%>;
    let config = {
        renderTo: webpart.wrapperDivId,
        frame: 'none',
        schemaName: 'targetedms',
        queryName: 'userProjects',
        containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders
    };
    // admins can see all projects, non-admins can only see projects they are a researcher on
    if (!LABKEY.user.isAdmin) {
        config.filterArray = [LABKEY.Filter.create('researcher', LABKEY.user.id, LABKEY.Filter.Types.EQUAL)];
    }
    new LABKEY.QueryWebPart(config);
    })();
</script>