<div id="ms-project"></div>
<br/>
<div id="all-projects"></div>
<script type="text/javascript" nonce="<%=scriptNonce%>">
    (function(){
    let config = {
        renderTo: 'ms-project',
        frame: 'none',
        schemaName: 'targetedms',
        queryName: 'msProject',
        containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders,
        filters: [
            LABKEY.Filter.create('ProjectMember', true)
        ]
    };
    // admins can see all projects, non-admins can only see projects they are a researcher on
    new LABKEY.QueryWebPart(config);

    if (LABKEY.user.isAdmin) {
        document.getElementById('all-projects').innerHTML = LABKEY.Utils.textLink({text: 'View all projects', href: 'query-executeQuery.view?schemaName=targetedms&query.queryName=msProject'});
    }
    })();
</script>