<div id="project-details"></div>
<div id="schedule-instrument-time"></div>
<br/>
<div id="researchers"></div>
<div id="payment-methods"></div>
<div id="payment-summary"></div>

<script type="text/javascript" nonce="<%=scriptNonce%>">
    $(function() {
        let project = LABKEY.ActionURL.getParameter('project');
        if (!project) {
            alert('No project selected');
            return;
        }

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'msProjectDetails',
            columns: 'Id,affiliation,title,collaborationWith,labDirector,scientificQuestion,abstract, researchers',
            filterArray: [LABKEY.Filter.create('Id', project, LABKEY.Filter.Types.EQUAL)],
            success: function(data){
                if (data.rows.length === 0) {
                    document.getElementById('project-details').innerHTML = 'Could not find project ' + LABKEY.Utils.encodeHtml(project);
                }
                else {
                    let projectDetails = data.rows[0];
                    let id = LABKEY.Utils.encodeHtml(projectDetails.Id);
                    let affiliation = LABKEY.Utils.encodeHtml(projectDetails.affiliation);
                    let title = LABKEY.Utils.encodeHtml(projectDetails.title);
                    let collaborationWith = LABKEY.Utils.encodeHtml(projectDetails.collaborationWith);
                    let labDirector = LABKEY.Utils.encodeHtml(projectDetails.labDirector);
                    let scientificQuestion = LABKEY.Utils.encodeHtml(projectDetails.scientificQuestion);
                    let abstract = LABKEY.Utils.encodeHtml(projectDetails.abstract);
                    let researchers = LABKEY.Utils.encodeHtml(projectDetails.researchers).split(',');

                    let projectDetailsHtml = `
                    <table class='lk-fields-table'>
                        <tr>
                            <td class='labkey-form-label'>Id</td>
                            <td>${id}</td>
                        </tr>
                        <tr>
                            <td class='labkey-form-label'>Affiliation</td>
                            <td>${affiliation}</td>
                        </tr>
                        <tr>
                            <td class='labkey-form-label'>Title</td>
                            <td>${title}</td>
                        </tr>
                        <tr>
                            <td class='labkey-form-label'>Collaborating with</td>
                            <td>${collaborationWith}</td>
                        </tr>
                        <tr>
                            <td class='labkey-form-label'>Lab Director</td>
                            <td>${labDirector}</td>
                        </tr>
                        ` +
                            researchers.map(researcher => {
                                return `<tr>
                                <td class='labkey-form-label'>Researcher</td>
                                <td>${researcher}</td>
                            </tr>`;
                            }).join('') +

                            `
                        <tr>
                            <td class='labkey-form-label'>Scientific Question</td>
                            <td>${scientificQuestion}</td>
                        </tr>
                        <tr>
                            <td class='labkey-form-label'>Abstract</td>
                            <td>${abstract}</td>
                        </tr>
                    </table>
                    </br>
                `;
                    document.getElementById('project-details').innerHTML = projectDetailsHtml;
                }
            }
        });

        // query web part to show payment method and other invoice details - custom query
        new LABKEY.QueryWebPart({
            renderTo: 'payment-summary',
            frame: 'portal',
            title: 'Instrument Use',
            schemaName: 'targetedms',
            queryName: 'instrumentBilling',
            viewName: 'Project View',
            filterArray: [LABKEY.Filter.create('projectId', project, LABKEY.Filter.Types.EQUAL)],
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders
        });

        new LABKEY.QueryWebPart({
            renderTo: 'payment-methods',
            frame: 'portal',
            title: 'Payment Methods',
            schemaName: 'targetedms',
            queryName: 'projectPaymentMethod',
            filterArray: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders
        });

        new LABKEY.QueryWebPart({
            renderTo: 'researchers',
            frame: 'portal',
            title: 'Researchers for this Project',
            schemaName: 'targetedms',
            queryName: 'projectResearcher',
            filterArray: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
            containerFilter: LABKEY.Query.containerFilter.currentAndSubfolders
        });

        const scheduleInstrumentTimeEl = document.getElementById('schedule-instrument-time');
        const scheduleUrlParams = {
            project: LABKEY.ActionURL.getParameter('project')
        };
        scheduleInstrumentTimeEl.innerHTML = LABKEY.Utils.textLink({text: 'Schedule instrument time', href: LABKEY.ActionURL.buildURL('targetedms', 'scheduleInstrument',LABKEY.ActionURL.getContainer(), scheduleUrlParams)});

    });


</script>