<style>

  #events-log {
    display: inline-block;
    vertical-align: top;
    flex: 3;
    padding: 10px;
    min-height: 200px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  #calendar {
    flex:7;
    box-sizing: border-box;
  }

  .calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
    border-bottom: 2px solid #2196f3;
  }

  .calendar table.month {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
    width:100%;
  }

  .calendar table.month th.month-title {
    background-color: #2196F3;
    color: white;
    padding: 12px;
    font-weight: 400;
  }

  #calendarWrapper {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
  }

  .day-color {
    background-color: indianred;
  }

</style>

<div id="topContainer">
    <div id="projectDropDown"></div>
    <br/>
    <div id="instrumentDropDown"></div>
    <br/>
    <div id="instrumentOperatorDropDown"></div>
    <br/>
    <div id="paymentMethodDropDown"></div>
    <a href="#" id="addPaymentMethod">[Add Payment Method]</a>
    <br/>

</div>

<div id="calendarWrapper" style="min-height: 500px;">

    <div id="calendar">
        Loading...
    </div>

    <div class="modal fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Instrument Time</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form class="form-horizontal">

                        <div class="form-group row">
                            <label for="min-date" class="col-sm-4 control-label">Dates</label>
                            <div class="col-sm-8">
                                <div class="input-group input-daterange" data-provide="datepicker">
                                    <input id="min-date" name="event-start-date" type="datetime-local" class="form-control">
                                    <div class="input-group-prepend input-group-append">
                                        <div class="input-group-text">to</div>
                                    </div>
                                    <input name="event-end-date" type="datetime-local" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="col-sm-12 labkey-error" style="min-height: 2em;" id="schedule-save-error"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="save-event">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
        <div id="context-menu">

        <div id="events-log">
            <h3>Time Scheduled</h3>
        </div>
    </div>
</div>

<script type="text/javascript" nonce="<%=scriptNonce%>">
    $(function() {

        let project = LABKEY.ActionURL.getParameter('project');
        let instrument = LABKEY.ActionURL.getParameter('instrument');

        if (!project) {
            alert('No project selected');
            return;
        }

        let calendar = null;
        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'msProject',
            sort: 'title',
            columns: 'Id,title',
            scope: this,
            success: function (result) {
                let rows = result.rows;
                let projectDropDown = '<label for="projectDropDown">Select Project:</label>';
                projectDropDown += '<select id="projectDropDown" name="projectDropDown">';
                for (let i = 0; i < rows.length; i++) {
                    // if project == rows[i].Id, then select this option
                    projectDropDown += '<option value="' + rows[i].Id + '" ' + (project == rows[i].Id ? 'selected' : '') + '>' + LABKEY.Utils.encodeHtml(rows[i].title) + '</option>';
                }
                projectDropDown += '</select>';

                jQuery('#projectDropDown').html(projectDropDown);

            }
        });

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'msInstrument',
            sort: 'name',
            columns: 'Id,name',
            scope: this,
            success: function (result) {
                let rows = result.rows;
                let instrumentDropDown = '<label for="instrumentDropDown">Select Instrument:</label>';
                instrumentDropDown += '<select id="instrumentDropDown" name="instrumentDropDown">';
                for (let i = 0; i < rows.length; i++) {
                    // if instrument == rows[i].Id, then select this option
                    instrumentDropDown += '<option value="' + rows[i].Id + '" ' + (instrument == rows[i].Id ? 'selected' : '') + '>' + LABKEY.Utils.encodeHtml(rows[i].name) + '</option>';
                }
                instrumentDropDown += '</select>';
                jQuery('#instrumentDropDown').html(instrumentDropDown);
            }
        });

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'paymentMethod',
            sort: 'name',
            columns: 'Id,UWBudgetNumber,worktag, budgetExpirationDate, name',
            scope: this,
            success: function (result) {
                let rows = result.rows;
                paymentMethodsData = rows;
                let paymentMethodDropDown = '<p>Select Payment Method(s): <p> <br/>'+
                        '<label for="paymentMethodDropDown">Payment Method:&nbsp</label>';
                paymentMethodDropDown += '<select id="paymentMethodDropDown" name="paymentMethodDropDown">';
                for (let i = 0; i < rows.length; i++) {
                    paymentMethodDropDown += '<option value="' + rows[i].Id + '">' + rows[i].name + '</option>';
                }
                paymentMethodDropDown += '</select>';

                paymentMethodDropDown += '&nbsp<input type="text" id="paymentMethodPercent" name="paymentMethodPercent" value="100" size="3" maxlength="3">';
                paymentMethodDropDown += '<label for="paymentMethodPercent">%</label>';

                jQuery('#paymentMethodDropDown').html(paymentMethodDropDown);

            }
        });

        // LABKEY.Query.selectRows({
        //     schemaName: 'targetedms',
        //     queryName: 'instrumentOperator',
        //     sort: 'name',
        //     columns: 'Id,name',
        //     scope: this,
        //     success: function (result) {
        //         let rows = result.rows;
        //         let instrumentOperatorDropDown = '<label for="instrumentOperatorDropDown">Select Instrument Operator:</label>';
        //         instrumentOperatorDropDown += '<select id="instrumentOperatorDropDown" name="instrumentOperatorDropDown">';
        //         for (let i = 0; i < rows.length; i++) {
        //             instrumentOperatorDropDown += '<option value="' + rows[i].Id + '">' + rows[i].name + '</option>';
        //         }
        //         instrumentOperatorDropDown += '</select>';
        //         jQuery('#instrumentOperatorDropDown').html(instrumentOperatorDropDown);
        //     }
        // });

        function zeroPadded(val) {
            if (val >= 10)
                return val;
            else
                return '0' + val;
        }

        function editEvent(event) {
            let startDate = event.startDate;
            let endDate = event.endDate;
            let startDateVal = startDate.getFullYear() + "-" +
                    zeroPadded(startDate.getMonth() + 1) + "-" +
                    zeroPadded(startDate.getDate()) + "T" +
                    zeroPadded(startDate.getHours()) + ":" +
                    zeroPadded(startDate.getMinutes()) + ":" +
                    zeroPadded(startDate.getSeconds());
            let endDateVal = endDate.getFullYear() + "-" +
                    zeroPadded(endDate.getMonth() + 1) + "-" +
                    zeroPadded(endDate.getDate()) + "T" +
                    zeroPadded(endDate.getHours()) + ":" +
                    zeroPadded(endDate.getMinutes()) + ":" +
                    zeroPadded(endDate.getSeconds());

            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-start-date"]').val(startDateVal);
            $('#event-modal input[name="event-end-date"]').val(endDateVal);
            $('#event-modal').modal();
        }

        function saveEvent() {
            const event = {
                id: $('#event-modal input[name="event-index"]').val(),
                startTime: $('#event-modal input[name="event-start-date"]').val(),
                endTime: $('#event-modal input[name="event-end-date"]').val(),
                project: project,
                instrument: instrument ? instrument : $('#instrumentDropDown select[name="instrumentDropDown"]').val(),
            }

            LABKEY.Query.saveRows({
                commands: [{
                    command: event.id ? 'update' : 'insert',
                    schemaName: 'targetedms',
                    queryName: 'instrumentSchedule',
                    rows: [
                        event
                    ]
                }],
                success: function () {
                    loadInstrumentSchedule(function (data) {
                        calendar.setDataSource(data);
                        $('#event-modal').modal('hide');
                    }, true);
                },
                failure: function (errorInfo) {
                    $('#schedule-save-error').text('Error saving. ' + (errorInfo.exception ? errorInfo.exception : ''));
                }
            })
        }

        function deleteEvent(event) {
            var dataSource = calendar.getDataSource();

            calendar.setDataSource(dataSource.filter(item => item.id !== event.id));
        }

        function calendarDayClicked() {
            console.log('calendarDayClicked');
        }

        function loadInstrumentSchedule(callback) {
            let instrumentSchedule = [];
            LABKEY.Query.selectRows({
                schemaName: 'targetedms',
                queryName: 'instrumentSchedule',
                columns: 'Id,startTime,endTime,name,notes,instrument/color',
                filterArray: [
                    LABKEY.Filter.create('instrument', instrument),
                    LABKEY.Filter.create('project', project)
                ],
                success: function (data) {
                    let rows = data.rows;
                    for (let i = 0; i < rows.length; i++) {
                        let row = rows[i];
                        instrumentSchedule.push({
                            id: row.Id,
                            startDate: new Date(row.startTime),
                            endDate: new Date(row.endTime),
                            name: row.name,
                            notes: row.notes,
                            color: row['instrument/color']
                        });
                    }
                    callback(instrumentSchedule);
                }
            });
        }

        loadInstrumentSchedule(function(instrumentSchedule) {
            let currentYear = new Date().getFullYear();
            calendar = new Calendar('#calendar', {
                startDate: new Date(),
                numberMonthsDisplayed: 1,
                enableRangeSelection: LABKEY.user.canInsert,
                dataSource: instrumentSchedule,
                style: 'custom',
                contextMenuItems:[
                    {
                        text: 'Update',
                        click: editEvent
                    },
                    {
                        text: 'Delete',
                        click: deleteEvent
                    }
                ],
                dayContextMenu: function(e) {
                    $(e.element).popover('hide');
                },
                selectRange: function(e) {
                    editEvent({ startDate: e.startDate, endDate: e.endDate });
                },
                mouseOnDay: function(e) {
                    if(e.events.length > 0) {
                        var content = '';

                        for(var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                    + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                    + '<div class="event-notes">' + e.events[i].notes + '</div>'
                                    + '</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html:true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function(e) {
                    if(e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
            });
            calendar.setCustomDayRenderer(function (element, date) {
                let events = calendar.getEvents(date);
                if (events && events.length) {
                    let e = events[0];
                    element.style.backgroundColor = e.color;
                }
            });

            calendar.render();
        });

        $('#save-event').click(function() {
            saveEvent();
        });

    });
    let paymentMethodsData;
    let paymentMethodCount = 1;
    document.addEventListener('DOMContentLoaded', function () {
        const addPaymentMethodEl = document.getElementById('addPaymentMethod');
        addPaymentMethodEl.addEventListener('click', function () {
            paymentMethodCount++;
            let id = 'paymentMethodDropDown' + paymentMethodCount;
            let paymentMethodDropDown = '<label for=' + id + '>Payment Method:</label>';
            paymentMethodDropDown += '<select id=' + id + ' name=' + id + '">';
            for (let i = 0; i < paymentMethodsData.length; i++) {
                paymentMethodDropDown += '<option value="' + paymentMethodsData[i].Id + '">' + paymentMethodsData[i].name + '</option>';
            }
            paymentMethodDropDown += '</select>';

            paymentMethodDropDown += '&nbsp<input type="text" id="paymentMethodPercent" name="paymentMethodPercent" value="0" size="3" maxlength="3">';
            paymentMethodDropDown += '<label for="paymentMethodPercent">%</label>';

            // TODO: add delete icon
            paymentMethodDropDown += '&nbsp' +
                    '<a href="#" id="removePaymentMethod">[Remove]</a>';
            let logElt = document.createElement('div');
            logElt.innerHTML = paymentMethodDropDown;

            document.querySelector('#paymentMethodDropDown').appendChild(logElt);
        });

        document.addEventListener('click', function (event) {
            if (event.target.id === 'removePaymentMethod') {
                event.preventDefault();
                event.target.parentElement.remove();
            }
        });

        // refresh the page on project change
        document.getElementById('projectDropDown').addEventListener('change', function (event) {
            document.location.href = LABKEY.ActionURL.buildURL('targetedms', 'scheduleInstrument', null, {project: event.target.value});

        });

        // refresh the page on instrument change
        document.getElementById('instrumentDropDown').addEventListener('change', function (event) {
            document.location.href = LABKEY.ActionURL.buildURL('targetedms', 'scheduleInstrument', null, {project: LABKEY.ActionURL.getParameter('project'), instrument: event.target.value});
        });

    });

</script>