<div id="topContainer">
    <table class="lk-fields-table">
        <tr>
            <td class="labkey-form-label"><label for="instrumentDropDown">Instrument</label></td>
            <td><select id="instrumentDropDown" name="instrumentDropDown"></select></td>
        </tr>
        <tr>
            <td class="labkey-form-label"><label for="projectDropDown">Project</label></td>
            <td><select id="projectDropDown" name="projectDropDown"></select></td>
        </tr>
        <tr>
            <td class="labkey-form-label"><label for="instrumentOperatorDropDown">Operator</label></td>
            <td><select id="instrumentOperatorDropDown" name="instrumentOperatorDropDown"></select></td>
        </tr>
        <tr>
            <td class="labkey-form-label" rowspan="10"><label for="paymentMethodDropDown">Payment method</label></td>
            <td><div id="paymentMethodDropDown"></div></td>
        </tr>
        <tr>
            <td>
                <div id="addPaymentMethod" role="button" style="cursor: pointer;">[Add payment method]</div>
                <div id="payment-method-error" class="labkey-error"></div>
            </td>
        </tr>
    </table>
</div>

<div id="calendarWrapper" style="min-height: 500px;">

    <div id="calendar">
        Loading...
    </div>

    <div class="modal fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Instrument Time</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form class="form-horizontal">

                        <div class="form-group row">
                            <label for="min-date" class="col-sm-2 control-label">Dates</label>
                            <div class="col-sm-10">
                                <input id="min-date" name="event-start-date" type="datetime-local">
                                <label for="event-end-date">to</label>
                                <input id="event-end-date" name="event-end-date" type="datetime-local">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="event-name">Name</label>
                            <div class="col-sm-10">
                                <input id="event-name" name="event-name" size="50" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="event-notes">Notes</label>
                            <div class="col-sm-10">
                                <input id="event-notes" name="event-notes" size="50" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- Live cost preview -->
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="preview-setup-cost">Setup fee</label>
                            <div class="col-sm-2">
                                <input id="preview-setup-cost" name="preview-setup-cost" type="text" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="preview-instrument-fee">Instrument fee</label>
                            <div class="col-sm-2">
                                <input id="preview-instrument-fee" name="preview-instrument-fee" type="text" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="preview-total-cost">Total fee</label>
                            <div class="col-sm-2">
                                <input id="preview-total-cost" name="preview-total-cost" type="text" readonly="readonly" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 labkey-error" style="min-height: 2em;" id="schedule-preview-error"></div>
                        </div>
                        <div class="form-group row" >
                            <div class="col-sm-10 offset-sm-2 labkey-error" style="min-height: 2em;" id="schedule-save-error"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-schedule" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="delete-event">
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary" id="add-event">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="events-log">
        <h3>Time Scheduled</h3>

        <table id="event-cost-table" class="labkey-data-region-legacy labkey-show-borders">
            <tr>
                <td class="labkey-column-header">Start</td>
                <td class="labkey-column-header">End</td>
                <td class="labkey-column-header">Cost</td>
            </tr>
        </table>
        <div id="total-event-cost">Total Cost: </div>
        <br/>

        <div id="cost-info">
            <p>View the billing FAQ and instructions for scheduling instruction time.</p>
            <br>
            <p id="instrument-rates"></p>
        </div>

    </div>

</div>

<script type="text/javascript" nonce="<%=scriptNonce%>">
    $(function() {

        let project = LABKEY.ActionURL.getParameter('project');
        let instrument = LABKEY.ActionURL.getParameter('instrument');
        // Parse as integers, defaulting to null if empty/invalid
        project = project ? parseInt(project) || null : null;
        instrument = instrument ? parseInt(instrument) || null : null;

        if (!project) {
            document.getElementById('calendar').innerText = 'Invalid or no project specified';
            return;
        }

        let calendar = null;
        let eventToSave = {};
        let paymentMethods = [];

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'userProjects',
            sort: 'Title',
            columns: 'Id,Title',
            scope: this,
            success: function (result) {
                let rows = result.rows;
                let projectDropDown = document.getElementById('projectDropDown');
                while (projectDropDown.firstChild) {
                    projectDropDown.removeChild(projectDropDown.firstChild);
                }
                for (let i = 0; i < rows.length; i++) {
                    let option = document.createElement('option');
                    option.value = rows[i].Id;
                    option.text = rows[i].Title;
                    if (project === rows[i].Id) {
                        option.selected = true;
                    }
                    projectDropDown.appendChild(option);
                }
            }
        });

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'msInstrument',
            sort: 'name',
            columns: 'Id,name,active',
            filterArray: [
                LABKEY.Filter.create('active', true, LABKEY.Filter.Types.EQUAL)
            ],
            scope: this,
            success: function (result) {
                let rows = result.rows;
                let instrumentDropDown = document.getElementById('instrumentDropDown');
                while (instrumentDropDown.firstChild) {
                    instrumentDropDown.removeChild(instrumentDropDown.firstChild);
                }

                for (let i = 0; i < rows.length; i++) {
                    let option = document.createElement('option');
                    option.value = rows[i].Id;
                    option.text = rows[i].name;
                    if (instrument === rows[i].Id) {
                        option.selected = true;
                    }
                    instrumentDropDown.appendChild(option);
                }

                loadInstrumentSchedule(function(instrumentSchedule) {

                    var calendarEl = document.getElementById('calendar');

                    calendar = new FullCalendar.Calendar(calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        initialDate: new Date(),
                        navLinks: true, // can click day/week names to navigate views
                        selectable: true,
                        selectMirror: true,
                        eventContent: function(e) {

                            let content = '';
                            let bgColor = e.event.extendedProps.project === project ? e.backgroundColor : 'gray';
                            const cl = e.event.extendedProps.project === project ? 'activeProjectEvent' : 'otherProjectEvent';
                            let textColor = ScheduleUtils.getContrastTextColor(ScheduleUtils.stringToColor(bgColor));
                            let timeFormatString = LABKEY.container.formats.timeFormat;
                            // Strip seconds and milliseconds
                            timeFormatString = timeFormatString.replace(':ss', '').replace('.SSS', '');
                            let dateStr = DateFormat.format.date(e.event.start, timeFormatString) + ' - ' + DateFormat.format.date(e.event.end, timeFormatString);
                            let style = 'background-color: ' + LABKEY.Utils.encodeHtml(bgColor) + '; color: ' + LABKEY.Utils.encodeHtml(textColor) + ';' + 'width: 100%';
                            content += '<div class="' + LABKEY.Utils.encodeHtml(cl) + '" style="' + style + ';">'
                                        + '<div class="event-date">' + LABKEY.Utils.encodeHtml(dateStr) + '</div>'
                                        + '<div class="event-id" >' + 'Project : &nbsp' + LABKEY.Utils.encodeHtml(e.event.extendedProps.project) + '</div>'
                                    + '</div>';
                            return { html: content };
                        },
                        eventMouseEnter: function (mouseEnterInfo) {
                            removeEventLog();
                            let instrumentID = instrument ? instrument : $('#instrumentDropDown').val();
                            fetchInstrumentCosts(instrumentID, mouseEnterInfo.event.start, mouseEnterInfo.event.end);
                            let content = '';
                            let dateStr = DateFormat.format.date(mouseEnterInfo.event.start, LABKEY.container.formats.dateTimeFormat) + ' - ' + DateFormat.format.date(mouseEnterInfo.event.end, LABKEY.container.formats.dateTimeFormat);
                            content += '<div class="event-tooltip-content">'
                                    + '<div class="event-id" >' + 'Project Id : &nbsp' + LABKEY.Utils.encodeHtml(mouseEnterInfo.event.extendedProps.project) + '</div>'
                                    + '<div class="event-title">' + 'Title : &nbsp' + LABKEY.Utils.encodeHtml(mouseEnterInfo.event.title) + '</div>'
                                    + '<div class="event-date">' + LABKEY.Utils.encodeHtml(dateStr) + '</div>'
                                    + '</div>';


                            $(mouseEnterInfo.el).popover({
                                trigger: 'manual',
                                container: 'body',
                                html:true,
                                content: content,

                            });

                            $(mouseEnterInfo.el).popover('show');

                            const $popover = $('.popover'); // Get the popover element
                            // Keep the popover open when hovering over it
                            $popover.on('mouseenter', function () {
                                $(mouseEnterInfo.el).popover('show');
                            });

                            // Close the popover when the mouse leaves it
                            $popover.on('mouseleave', function () {
                                $(mouseEnterInfo.el).popover('hide');
                            });
                        },
                        eventMouseLeave: function (mouseLeaveInfo) {
                            setTimeout(() => {
                                const $popover = $('.popover:hover');
                                if ($popover.length === 0) {
                                    $(mouseLeaveInfo.el).popover('hide');
                                }
                            }, 200); // Add a delay to allow for hover on the popover
                        },
                        select: function(arg) {
                            editEvent({
                                startDate: arg.start,
                                endDate: arg.end,
                                id: null,
                                name: '',
                                notes: ''
                            });
                            calendar.unselect()
                        },
                        eventClick: function(arg) {
                            editEvent({
                                startDate: arg.event.start,
                                endDate: arg.event.end,
                                id: arg.event.id,
                                name: arg.event.extendedProps.name,
                                notes: arg.event.extendedProps.notes
                            });
                        },
                        editable: true,
                        events: instrumentSchedule
                    });

                    // remove loading text
                    calendarEl.innerHTML = '';
                    calendar.render();

                });
            }
        });

        function validatePaymentMethodPercentsAndShow() {
            const errorEl = document.getElementById('payment-method-error');
            const scheduleError = document.getElementById('schedule-save-error');
            const selects = document.querySelectorAll('#paymentMethodDropDown select');
            const percents = document.querySelectorAll('.paymentMethodPercent');

            // Default: clear
            let message = '';
            let total = 0;
            let invalid = false;

            // Only validate when there are percent inputs (i.e., multiple methods in use UI-wise)
            if (percents.length > 0 && selects.length > 0) {
                for (let i = 0; i < selects.length; i++) {
                    const val = percents[i] ? percents[i].value : (selects.length === 1 ? '100' : '0');
                    const num = parseFloat(val);
                    if (isNaN(num) || num < 0 || num > 100) {
                        invalid = true;
                    }
                    total += isNaN(num) ? 0 : num;
                }

                if (invalid) {
                    message = 'Each payment percentage must be a number between 0 and 100.';
                }
                else if (percents.length > 1 && total !== 100) {
                    message = 'When multiple payment methods are used, the percentages must add up to 100% (current total: ' + total + '%).';
                }
            }

            if (errorEl) errorEl.textContent = message;
            if (scheduleError) scheduleError.textContent = message; // mirror below modal as well

            return { valid: !message, total: total };
        }

        const validationCallback = validatePaymentMethodPercentsAndShow;

        function updatePercentInputsVisibility() {
            const container = document.getElementById('paymentMethodDropDown');
            if (!container) return;

            const selects = container.querySelectorAll('select');
            const groups = container.querySelectorAll('.paymentPercentGroup');
            const inputs = container.querySelectorAll('.paymentMethodPercent');
            const rowCount = selects.length;

            // Show when multiple rows, hide when single
            const show = rowCount > 1;

            // If only one row remains, reset its percent back to 100 before hiding
            if (!show && inputs.length > 0) {
                inputs[0].value = '100';
            }

            groups.forEach(function (grp) {
                grp.style.display = show ? '' : 'none';
            });

            // When first transitioning to multi-row, ensure sensible defaults
            if (show && inputs.length > 0) {
                // If first value is empty, default to 100
                if (inputs[0].value === '') inputs[0].value = '100';
                // For others, if empty, default to 0
                for (let i = 1; i < inputs.length; i++) {
                    if (inputs[i].value === '') inputs[i].value = '0';
                }
            }

            // Clear the top message when hiding
            if (!show) {
                const topErr = document.getElementById('payment-method-error');
                if (topErr) topErr.textContent = '';
            }
        }

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'projectPaymentMethod',
            sort: 'paymentMethod/name',
            columns: 'paymentMethod,paymentMethod/name,paymentMethod/UWBudgetNumber,paymentMethod/worktag,paymentMethod/budgetExpirationDate',
            filterArray: [
                LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)
            ],
            scope: this,
            success: function (result) {
                let rows = result.rows || [];
                // Normalize to the same shape used elsewhere in this file
                paymentMethodsData = rows.map(function(r) {
                    return {
                        Id: r.paymentMethod,
                        name: r['paymentMethod/name'],
                        UWBudgetNumber: r['paymentMethod/UWBudgetNumber'],
                        worktag: r['paymentMethod/worktag'],
                        budgetExpirationDate: r['paymentMethod/budgetExpirationDate']
                    };
                });
                let paymentMethodDropDown = '<select id="paymentMethodDropDown" name="paymentMethodDropDown">';
                for (let i = 0; i < paymentMethodsData.length; i++) {
                    paymentMethodDropDown += '<option value="' + LABKEY.Utils.encodeHtml(paymentMethodsData[i].Id) + '">' + LABKEY.Utils.encodeHtml(paymentMethodsData[i].name) + '</option>';
                }
                paymentMethodDropDown += '</select>';
                // Always render a percent input for the first row; visibility will be toggled based on row count
                paymentMethodDropDown += '&nbsp;<span class="paymentPercentGroup" style="display:none;"><input type="text" class="paymentMethodPercent" name="paymentMethodPercent" value="100" size="3" maxlength="3"><label>%</label></span>';

                jQuery('#paymentMethodDropDown').html(paymentMethodDropDown);

                // Attach live validation listeners to the first row percent input
                const firstPercent = document.querySelector('#paymentMethodDropDown .paymentMethodPercent');
                if (firstPercent) {
                    firstPercent.addEventListener('input', validationCallback);
                    firstPercent.addEventListener('change', validationCallback);
                }

                // Toggle visibility based on how many rows are present
                updatePercentInputsVisibility();
                // Run validation once to clear or show any messages
                validatePaymentMethodPercentsAndShow();

                // Hide or show the Add Payment Method control based on count
                const addBtn = document.getElementById('addPaymentMethod');
                if (addBtn) {
                    if (paymentMethodsData.length <= 1) {
                        addBtn.style.display = 'none';
                    } else {
                        addBtn.style.display = '';
                    }
                }

                // If there are no payment methods, disable Save and inform the user
                const saveBtn = document.getElementById('save-event');
                const scheduleError = document.getElementById('schedule-save-error');
                if (paymentMethodsData.length === 0) {
                    if (saveBtn) saveBtn.setAttribute('disabled', 'disabled');
                    if (scheduleError) scheduleError.textContent = 'No payment methods are configured for this project. Please contact an administrator.';
                }
                else {
                    if (saveBtn) saveBtn.removeAttribute('disabled');
                    if (scheduleError) scheduleError.textContent = '';
                }

            }
        });

        LABKEY.Query.selectRows({
            schemaName: 'targetedms',
            queryName: 'projectResearcher',
            sort: 'researcher/displayName',
            columns: 'Id,researcher/displayName,researcher/UserId,project',
            filterArray: [
                LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL),
                LABKEY.Filter.create('researcher/UserId', project, LABKEY.Filter.Types.NONBLANK)
            ],
            scope: this,
            success: function (result) {
                let rows = result.rows;
                let instrumentOperatorDropDown = document.getElementById('instrumentOperatorDropDown');
                while (instrumentOperatorDropDown.firstChild) {
                    instrumentOperatorDropDown.removeChild(instrumentOperatorDropDown.firstChild);
                }
                for (let i = 0; i < rows.length; i++) {
                    let option = document.createElement('option');
                    option.value = rows[i]['researcher/UserId'];
                    option.text = rows[i]['researcher/displayName'];
                    if (LABKEY.user.id === rows[i]['researcher/UserId']) {
                        option.selected = true;
                    }
                    instrumentOperatorDropDown.appendChild(option);
                }
            }
        });


        function editEvent(event) {
            let startDate = event.startDate;
            let endDate = event.endDate;

            if (!event.id && startDate.getHours() === 0 && startDate.getMinutes() === 0 && endDate.getHours() === 0 && endDate.getMinutes() === 0) {
                // Default to starting at 8AM and ending at 5PM
                startDate.setHours(8);
                endDate.setHours(17);
                endDate.setDate(endDate.getDate() - 1);
            }

            let startDateFormatted = DateFormat.format.date(startDate, LABKEY.container.formats.dateTimeFormat);
            let endDateFormatted = DateFormat.format.date(endDate, LABKEY.container.formats.dateTimeFormat);

            // remove the old event log rows
            removeEventLog();

            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-start-date"]').val(startDateFormatted);
            $('#event-modal input[name="event-end-date"]').val(endDateFormatted);
            $('#event-modal input[name="event-name"]').val(event ? event.name : '');
            $('#event-modal input[name="event-notes"]').val(event ? event.notes : '');
            $('#delete-event').toggle(!!event.id);
            $('#add-event').text('Save');
            $('#schedule-save-error').text('');
            $('#schedule-cost-error').text('');
            $('#event-modal').modal();
        }

        function closeEvent() {
            removeEventLog();
        }

        function addEvent() {
            eventToSave.id = $('#event-modal input[name="event-index"]').val();
            eventToSave.startTime = $('#event-modal input[name="event-start-date"]').val();
            eventToSave.endTime = $('#event-modal input[name="event-end-date"]').val();
            eventToSave.project = project;
            eventToSave.instrument = instrument ? instrument : $('#instrumentDropDown').val();
            eventToSave.name = $('#event-modal input[name="event-name"]').val();
            eventToSave.notes = $('#event-modal input[name="event-notes"]').val();
            eventToSave.instrumentoperator = $('#instrumentOperatorDropDown').val();

            if (eventToSave.endTime < eventToSave.startTime) {
                alert('End date must be after start date');
                return;
            }

            // get the paymentMethod and percentPayment from the html fields
            paymentMethods = [];
            let paymentMethodDropDowns = document.querySelectorAll('#paymentMethodDropDown select');
            let percentPaymentFields = document.querySelectorAll('.paymentMethodPercent');

            // Validation: ensure numeric values and totals add to 100 when multiple entries
            let percentTotal = 0;
            let invalidPercent = false;
            for (let i = 0; i < paymentMethodDropDowns.length; i++) {
                let paymentMethodId = paymentMethodDropDowns[i].value;
                let percentVal = percentPaymentFields[i] ? percentPaymentFields[i].value : (paymentMethodDropDowns.length === 1 ? '100' : '0');
                let percentNum = parseFloat(percentVal);
                if (percentPaymentFields.length > 0) {
                    // only validate when inputs are present (multiple methods)
                    if (isNaN(percentNum) || percentNum < 0 || percentNum > 100) {
                        invalidPercent = true;
                    }
                    percentTotal += isNaN(percentNum) ? 0 : percentNum;
                }
                paymentMethods.push({
                    paymentMethod: paymentMethodId,
                    percentPayment: percentVal
                });
            }

            const scheduleError = document.getElementById('schedule-save-error');
            if (invalidPercent) {
                if (scheduleError) scheduleError.textContent = 'Each payment percentage must be a number between 0 and 100.';
                return;
            }
            if (percentPaymentFields.length > 1 && percentTotal !== 100) {
                if (scheduleError) scheduleError.textContent = 'When multiple payment methods are used, the percentages must add up to 100% (current total: ' + percentTotal + '%).';
                return;
            } else if (scheduleError) {
                scheduleError.textContent = '';
            }

            // Live preview is already shown as dates change. Save directly.
            saveEvent();
        }

        // Debounce helper for frequent UI events
        function debounce(fn, wait) {
            let t;
            return function() {
                const ctx = this, args = arguments;
                clearTimeout(t);
                t = setTimeout(function(){ fn.apply(ctx, args); }, wait);
            };
        }

        // Calculate and render live cost preview inside the event modal without changing logs
        function calculateAndRenderCostPreview(instrumentId, startDate, endDate) {
            const previewErrorEl = $('#schedule-preview-error');
            const setupEl = $('#preview-setup-cost');
            const instEl = $('#preview-instrument-fee');
            const totalEl = $('#preview-total-cost');

            // Clear previous values
            setupEl.val('');
            instEl.val('');
            totalEl.val('');
            previewErrorEl.text('');

            if (!instrumentId || !startDate || !endDate) {
                return;
            }
            const start = new Date(startDate);
            const end = new Date(endDate);
            if (isNaN(start.getTime()) || isNaN(end.getTime())) {
                return;
            }
            if (end <= start) {
                previewErrorEl.text('End date must be after start date.');
                return;
            }

            LABKEY.Query.selectRows({
                schemaName: 'targetedms',
                queryName: 'instrumentRate',
                columns: 'Id,fee,rateType',
                filterArray: [
                    LABKEY.Filter.create('instrument', instrumentId, LABKEY.Filter.Types.EQUAL)
                ],
                success: function (data) {
                    if (data.rows.length === 0) {
                        previewErrorEl.text('No rate found for instrument.');
                        return;
                    }
                    let fee = data.rows[0].fee;
                    let rateType = data.rows[0].rateType;
                    let cost = fee * (Math.abs(end - start)) / 1000 / 60 / 60;

                    LABKEY.Query.selectRows({
                        schemaName: 'targetedms',
                        queryName: 'rateType',
                        columns: 'Id,name,setupFee',
                        filterArray: [
                            LABKEY.Filter.create('Id', rateType, LABKEY.Filter.Types.EQUAL)
                        ],
                        success: function (rt) {
                            let setupFee = rt.rows[0].setupFee;
                            let instrumentFee = Math.round((cost + Number.EPSILON) * 100) / 100;
                            setupFee = Math.round((setupFee + Number.EPSILON) * 100) / 100;
                            let total = Math.round(((setupFee + instrumentFee) + Number.EPSILON) * 100) / 100;

                            setupEl.val('$' + setupFee.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                            instEl.val('$' + instrumentFee.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                            totalEl.val('$' + total.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                        },
                        failure: function (errorInfo) {
                            previewErrorEl.text('Error calculating cost ' + (errorInfo.exception ? errorInfo.exception : ''));
                        }
                    });
                },
                failure: function (errorInfo) {
                    previewErrorEl.text('Error fetching instrument rate ' + (errorInfo.exception ? errorInfo.exception : ''));
                }
            });
        }

        // Helper to read current form values and trigger preview
        function triggerCostPreviewNow() {
            const currentInstrument = instrument ? instrument : $('#instrumentDropDown').val();
            const startVal = $('#event-modal input[name="event-start-date"]').val();
            const endVal = $('#event-modal input[name="event-end-date"]').val();
            calculateAndRenderCostPreview(currentInstrument, startVal, endVal);
        }
        const triggerCostPreview = debounce(triggerCostPreviewNow, 300);

        // Bind listeners for live updates
        $(document).on('input change', '#event-modal input[name="event-start-date"], #event-modal input[name="event-end-date"]', function(){
            triggerCostPreview();
        });
        $(document).on('change', '#instrumentDropDown', function(){
            triggerCostPreview();
        });

        // Kick off preview when the modal opens
        $('#event-modal').on('shown.bs.modal', function(){
            triggerCostPreviewNow();
        });

        function fetchInstrumentCosts(instrumentId, startDate, endDate) {
            LABKEY.Query.selectRows({
                schemaName: 'targetedms',
                queryName: 'instrumentRate',
                columns: 'Id,fee,rateType',
                filterArray: [
                    LABKEY.Filter.create('instrument', instrumentId, LABKEY.Filter.Types.EQUAL)
                ],
                success: function (data) {
                    if (data.rows.length === 0) {
                        $('#schedule-save-error').text('Error calculating cost. No rate found for instrument');
                        return;
                    }
                    let fee = data.rows[0].fee;
                    let rateType = data.rows[0].rateType;
                    let cost = fee * (Math.abs(new Date(endDate) - new Date(startDate))) / 1000 / 60 / 60;

                    // query the rateType
                    LABKEY.Query.selectRows({
                        schemaName: 'targetedms',
                        queryName: 'rateType',
                        columns: 'Id,name,setupFee',
                        filterArray: [
                            LABKEY.Filter.create('Id', rateType, LABKEY.Filter.Types.EQUAL)
                        ],
                        success: function (data) {
                            let setupFee = data.rows[0].setupFee;

                            let startDateFormatted = DateFormat.format.date(startDate, LABKEY.container.formats.dateTimeFormat);
                            let endDateFormatted = DateFormat.format.date(endDate, LABKEY.container.formats.dateTimeFormat);

                            let tableElt = document.getElementById('event-cost-table');
                            let rowElt = document.createElement('tr');
                            rowElt.className = 'labkey-row';
                            let totalCost = Math.round(((setupFee + cost) + Number.EPSILON) * 100) / 100;
                            cost = Math.round((cost + Number.EPSILON) * 100) / 100;
                            setupFee = Math.round((setupFee + Number.EPSILON) * 100) / 100;
                            rowElt.innerHTML = '<td>' + startDateFormatted + '</td><td>' + endDateFormatted + '</td><td id="event-cost">' + '$' + totalCost.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }) + '</td>';
                            tableElt.appendChild(rowElt);

                            const totalEventCostElt = document.getElementById('total-event-cost');
                            totalEventCostElt.innerHTML = 'Total Cost: $' + totalCost.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#setup-cost').val('$' + setupFee.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                            $('#instrument-fee').val('$' + cost.toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                            $('#total-cost').val('$' + (setupFee + cost).toLocaleString('en-US', {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            }));
                        },
                        failure: function (errorInfo) {
                            $('#schedule-cost-error').text('Error calculating cost ' + (errorInfo.exception ? errorInfo.exception : ''));
                        }
                    });
                }
            });
        }

        function saveEvent() {

            let instrumentUsagePaymentRows = [];
            if (paymentMethods.length > 0) {
                for (let i = 0; i < paymentMethods.length; i++) {
                    instrumentUsagePaymentRows.push({
                        paymentMethod: paymentMethods[i].paymentMethod,
                        percentPayment: paymentMethods[i].percentPayment
                    });
                }
            }

            eventToSave.usagePayments = instrumentUsagePaymentRows;

            let instrumentScheduleCommand = {
                command: eventToSave.id ? 'update' : 'insert',
                schemaName: 'targetedms',
                queryName: 'instrumentSchedule',
                rows: [
                    eventToSave
                ]
            };

            LABKEY.Query.saveRows({
                commands: [instrumentScheduleCommand],
                success: function (response) {

                    loadInstrumentSchedule(function (data) {
                        calendar.getEventSources()[0].remove();
                        calendar.addEventSource(data);
                        // Update the session events log and totals using the same calculation logic (no modal)
                        fetchInstrumentCosts(eventToSave.instrument, eventToSave.startTime, eventToSave.endTime);
                        $('#event-modal').modal('hide');
                    }, true);

                    if (instrumentUsagePaymentRows.length > 0 && !eventToSave.id && response?.result[0]?.rows?.length > 0) {
                        let responseRows = response.result[0].rows;
                        let instrumentScheduleId = responseRows[0].id;
                        for (let i = 0; i < instrumentUsagePaymentRows.length; i++) {
                            instrumentUsagePaymentRows[i].instrumentScheduleId = instrumentScheduleId;
                        }
                    }
                },
                failure: function (errorInfo) {
                    $('#schedule-save-error').text('Error saving. ' + (errorInfo.exception ? errorInfo.exception : ''));
                }
            });
        }

        function removeEventLog() {
            let tableElt = document.querySelector('#events-log table');
            // remove the table rows if it exists
            if (tableElt) {
                let rows = tableElt.querySelectorAll('tr');
                for (let i = 1; i < rows.length; i++) {
                    rows[i].remove();
                }
            }

            let infoElt = document.querySelector('#total-event-cost');
            if (infoElt) {
                infoElt.innerHTML = '';
            }
        }

        function deleteEvent() {
            removeEventLog()

            const event = {
                id: $('#event-modal input[name="event-index"]').val(),
            };

            LABKEY.Query.executeSql({
                schemaName: 'targetedms',
                sql: 'SELECT paymentMethod FROM targetedms.instrumentUsagePayment WHERE instrumentScheduleId = ' + event.id,
                scope: this,
                success: function (data) {
                    let dataRows = data.rows;
                    let instrumentUsagePaymentRows = [];

                    for (let i = 0; i < dataRows.length; i++) {
                        instrumentUsagePaymentRows.push({
                            instrumentScheduleId: event.id,
                            paymentMethod: dataRows[i].paymentMethod
                        });
                    }

                    const commands = [];
                    if (instrumentUsagePaymentRows.length > 0) {
                        commands.push({
                            command: 'delete',
                            schemaName: 'targetedms',
                            queryName: 'instrumentUsagePayment',
                            rows: instrumentUsagePaymentRows
                        });
                    }

                    commands.push({
                        command: 'delete',
                        schemaName: 'targetedms',
                        queryName: 'instrumentSchedule',
                        rows: [event]
                    });

                    LABKEY.Query.saveRows({
                        commands: commands,
                        success: function () {
                            loadInstrumentSchedule(function (data) {
                                calendar.getEventSources()[0].remove()
                                calendar.addEventSource(data)
                                $('#event-modal').modal('hide');
                            }, true);
                        },
                        failure: function (errorInfo) {
                            $('#schedule-save-error').text('Error saving. ' + (errorInfo.exception ? errorInfo.exception : ''));
                        }
                    });
                },
                failure: function (errorInfo) {
                    $('#schedule-save-error').text('Error saving. ' + (errorInfo.exception ? errorInfo.exception : ''));
                }
            });
        }

        function loadInstrumentSchedule(callback) {
            let instrumentSchedule = [];
            const currentInstrument = instrument ? instrument : parseInt($('#instrumentDropDown').val());
            LABKEY.Query.selectRows({
                schemaName: 'targetedms',
                queryName: 'instrumentSchedule',
                columns: 'Id,startTime,endTime,name,notes,instrument/color,instrument/Id,project/Id, project/Title',
                filterArray: [
                    LABKEY.Filter.create('instrument', currentInstrument),
                ],
                success: function (data) {
                    let rows = data.rows;
                    for (let i = 0; i < rows.length; i++) {
                        let row = rows[i];
                        instrumentSchedule.push({
                            id: row.Id,
                            start: new Date(row.startTime),
                            end: new Date(row.endTime),
                            name: row.name,
                            notes: row.notes,
                            color: row['instrument/color'],
                            project: row['project/Id'],
                            title: row['project/Title']
                        });
                    }
                    callback(instrumentSchedule);
                }
            });
        }

        $('#add-event').on('click', addEvent);
        $('#close-event').on('click', closeEvent);
        $('#save-event').on('click', saveEvent);
        $('#delete-event').on('click', deleteEvent);

        $('#close-schedule').on('click', function () {
            $('#event-modal').modal('hide');
        });

        let paymentMethodsData;
        let paymentMethodCount = 1;
        const addPaymentMethodEl = document.getElementById('addPaymentMethod');
        addPaymentMethodEl.addEventListener('click', function () {
            paymentMethodCount++;
            let id = 'paymentMethodDropDown' + paymentMethodCount;
            let paymentMethodDropDown = '<select id="' + id + '" name="' + id + '">';
            for (let i = 0; i < paymentMethodsData.length; i++) {
                paymentMethodDropDown += '<option value="' + LABKEY.Utils.encodeHtml(paymentMethodsData[i].Id) + '">' + LABKEY.Utils.encodeHtml(paymentMethodsData[i].name) + '</option>';
            }
            paymentMethodDropDown += '</select>';

            // Always render a percent input group; visibility toggled by updatePercentInputsVisibility
            paymentMethodDropDown += '&nbsp;<span class="paymentPercentGroup" style="display:none;"><input type="text" class="paymentMethodPercent" name="paymentMethodPercent" value="0" size="3" maxlength="3"><label>%</label></span>';

            paymentMethodDropDown += '&nbsp' +
                    '<span id="removePaymentMethod" role="button" style="cursor: pointer;">[Remove]</span>';
            let logElt = document.createElement('div');
            logElt.innerHTML = paymentMethodDropDown;

            const container = document.querySelector('#paymentMethodDropDown');
            container.appendChild(logElt);

            // Attach live validation listeners to the newly added input
            const newInput = logElt.querySelector('.paymentMethodPercent');
            if (newInput) {
                newInput.addEventListener('input', validatePaymentMethodPercentsAndShow);
                newInput.addEventListener('change', validatePaymentMethodPercentsAndShow);
            }

            // Ensure percent inputs are shown only when multiple rows are present
            updatePercentInputsVisibility();

            // Re-run validation after adding a row
            validatePaymentMethodPercentsAndShow();
        });

        document.addEventListener('click', function (event) {
            if (event.target.id === 'removePaymentMethod') {
                event.preventDefault();
                event.target.parentElement.remove();
                // Update visibility after removal
                updatePercentInputsVisibility();
                // Re-validate after removal to update the message and totals
                validatePaymentMethodPercentsAndShow();
            }
        });

        // refresh the page on project change
        document.getElementById('projectDropDown').addEventListener('change', function () {
            document.location.href = LABKEY.ActionURL.buildURL('targetedms', 'scheduleInstrument', null, {project: document.getElementById('projectDropDown').value});
        });

        // refresh the page on instrument change
        document.getElementById('instrumentDropDown').addEventListener('change', function () {
            document.location.href = LABKEY.ActionURL.buildURL('targetedms', 'scheduleInstrument', null, {project: LABKEY.ActionURL.getParameter('project'), instrument: document.getElementById('instrumentDropDown').value});
        });

        document.getElementById('instrument-rates').innerHTML = LABKEY.Utils.textLink({text: 'View the current rates for instruments', href: LABKEY.ActionURL.buildURL('query', 'executeQuery', LABKEY.ActionURL.getContainer(), {schemaName: 'targetedms', 'query.queryName': 'InstrumentRate'})});
    });
</script>