#calendarWrapper {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.fc {
  flex: 7;
  padding-right: 4rem;
}

#events-log {
  display: inline-block;
  vertical-align: top;
  flex: 3;
  padding: 10px;
  min-height: 200px;
  border-radius: 10px;
  box-sizing: border-box;
}

.event-tooltip-content {
  white-space: nowrap;
}

.popover{
  max-width: 100%;
}