.summary-view {
    padding: 5px;
    margin: 5px;
    position: relative;
}

.subfolder-view {
    background-color: #EEEEEE;
    border: solid #C0C0C0 1px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.subfolder-view .item-text {
    color: #303030;
}

.item-text ul {
    margin: 0;
}

.folder-name {
    font-weight: normal;
    font-family: 'Roboto-Bold', 'Arial-Bold', 'Helvetica-Bold', sans-serif;
    padding-right: 70px;
}

.auto-qc-ping {
    color: #222222;
    position: absolute;
    top: 0;
    right: 0;
    cursor: help;
}
.email-notifications {
    color: #222222;
    position: absolute;
    top: 1.8em;
    right: 0;
}
.qc-none {
    color: grey;
    font-size: 15px;
}
.qc-error {
    color: darkred;
    font-size: 15px;
}
.qc-warning {
    color: goldenrod;
    font-size: 15px;
}
.qc-correct {
    color: darkgreen;
    font-size: 15px;
}
.qc-info {
    color: darkblue;
    font-size: 15px;
}

.sample-file-details {
    cursor: pointer;
    min-height: 9em;
}

.qc-summary-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10em;
}

.sample-file-field-label {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

.sample-file-metric-list {
    margin: 0;
}

div.hopscotch-bubble .hopscotch-actions,
div.hopscotch-bubble .hopscotch-content {
    margin: 0;
    padding: 0;
}

div.hopscotch-bubble .hopscotch-title {
    padding-bottom: 5px;
}

td.outlier-column-header, td.outlier-metric-label {
    white-space: nowrap;
}