.outliers-toggle {
    opacity: 0.4;
    padding-top: 10px;
    position: absolute;
}

.outliers-toggle:hover {
    opacity: 1;
    cursor: pointer;
}

.tiledPlotPanel {
    min-height: 50px;
    min-width: 900px;
}

.plotPaginationHeaderPanel {
    padding: 10px 0 0 0;
}

.annotation:hover, .guideset-svg-button:hover,
.guideset-svg-button rect:hover,
.guideset-svg-button text:hover
{
    cursor: pointer;
}

.guideset-toolbar-msg {
    padding: 0 10px 10px 10px;
    background-color: rgba(20, 204, 201, 0.4) !important;
}

.guideset-toolbar-msg .x4-box-item {
    padding-top: 7px;
    font-weight: normal;
    font-family: 'Roboto-Bold', 'Arial-Bold', 'Helvetica-Bold', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.plot-export-btn {
    display:inline;
}

.levey-jennings-toolbar .x4-form-item-label,
.levey-jennings-toolbar .x4-form-cb-label {
    font-size: 12px;
}

.plot-type-checkbox-group .x4-field-label-cell{
    width: 80px !important;
}

.plot-export-btn-group {
    display: inline;
    float: right;
}

.tree-node-noicon {
    display: none;
}

.qc-hover-field .x4-form-item-label {
    font-weight: bold;
    font-size: 12px;
}

.qc-paging-prev, .qc-paging-next {
    font-weight: bold;
    font-size: 18px;
    padding: 0 8px;
    border: solid #c0c0c0 1px;
}
.qc-paging-prev {
    border-right-width: 0;
}
.qc-paging-icon-disabled {
    color: #c0c0c0;
}
.qc-paging-icon-enabled:hover {
    background-color: rgba(20, 204, 201, 0.4);
    cursor: pointer;
}

.hopscotch-bubble-container .qc-hover-value-break {
    word-break: break-all;
}

.qc-trend-plot-panel .x4-panel-header,
.qc-trend-plot-panel .x4-toolbar-footer {
    background: #EEEEEE;
}

.qc-trend-plot-panel .x4-panel-header-text-container-default {
    font-size: 12px;
    color: #000000;
}

.expDateRange-toolbar-msg {
    background-color: rgb(173, 192, 218) !important;
    padding: 7px 10px 10px;
    font-weight: normal;
    font-family: 'Roboto-Bold', 'Arial-Bold', 'Helvetica-Bold', sans-serif;
    font-size: 14px;
}